.form-page {
  width: 90%;
  margin: 4em auto;
  height: 100vh;
}
.devise-form-box {
  //   height: 10rem;
  //   border: solid 2px #eeeeee;
  //   border-radius: 10px;

  .devise-image {
    width: 50%;
    .logo {
      width: 100%;
      height: 80%;
    }
    .border-line {
      border-right: 1px solid #eeeeee;
    }
  }

  .devise-form {
    // border: solid 2px blue;
    width: 50%;
  }
}
